*{
margin:0px;
padding:0px;
border:0px;
}

#wrapper{
height:auto;
width: auto;
border:solid;
margin:5px;
padding:5px;
border-radius:5px;
}
#header{
margin:5px;
height:75px;
border:5px solid blue;
padding:5px;
background:lime;
}

#nav-bar{
margin:5px;
background:yellow;
height:25px;
padding:5px;
border:5px solid lime;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  background-color: brown;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px 6px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.sidebar {
  height: 50%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 10px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 4px 5px;
  border: 2px;
  float:right;
  width:40px;
  margin:2px;
  
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-right .5s;
  padding: 3px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}



/* Set a style for all buttons */


.open-button {
  background-color: #04AA6D;
  color: white;
  padding:1px 5px 2px;
  margin: 2px 2px;
  border: 3px;
  cursor: pointer;
  width: 60px;
  float:right;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 26%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin:5px;
  border: none;
  cursor: pointer;
  width: 10%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#captcha {
 height: 40%;
 width: 10%;
 font-size: 70px;
 letter-spacing: 3px;
}

#refreshButton{
background-color: blue;
}

.incorrectCaptcha {
 color: #FF0000;
}
.correctCaptcha {
 color: #7FFF00;
}



button2 {
  background-color: #04AA6D;
  color: white;
  padding: 1px 5px 2px;
  margin: 2px 2px ;
  border: 3px;
  cursor: pointer;
  width: 100%;
  float:right;
  
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 5px 6px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.ashok {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

#container{
margin:5px;
padding:5px;
border: 1px solid;
height:600px;
width:auto;
background:orange;
}

.left-pannel{
float:left;
height:590px;
width:730px;
border:1px solid;
background: red;
}
.vertical-menu {
  width: 200px;
  height: 231px;
  overflow-y: auto;
  margin:2px;
  
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}

#anim{
height:20px;
width:40px;
box-shadow:2px solid;
background:black;
animation: animation_name 1s infinite;
}
@-webkit-keyframes animation_name
{
from{color:lime;}
to{color:yellow;}
}
@-webkit animation_name
{
from{color:lime;}
to{color:yellow;}
}

.right-pannel{
float:right;
height:590px;
width:740px;
border:1px solid;
background: #da25da;
display: block;
position: absolute;
}

#img1{
margin:5px;
padding:5px;
border:solid;
height:600px;
width:auto;
background:orange;
}

#panel{
float:right;
height:590px;
width:730px;
border:1px solid;
background:#25c8da;
display:block;
position:auto;
}


#index-footer{
margin:5px;
border:2px solid black;
padding:5px;
height:200px;
background:grey;
}

#copyright{
margin:5px;
border:1px solid black;
padding:5px;
height:15px;
width:98.5%;
background:lime;
font-size:15px;
font-style:italic;
}

